<ion-header>
  <ion-navbar align="center">
    <ion-buttons left>
      <button ion-button icon-only class="add-note-segment">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Key Writer
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only class="add-note-segment">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only class="add-note-segment">
        <ion-icon name="git-branch"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="screen" id="screen">
    <div class="book">
      <div id="sheet" (scroll)="handleSheetScroll($event)" class="sheet">
        <div *ngFor="let segment of segments; let segmentIndex = index"
             [ngClass]="'note-segment '+(currentSegmentIndex === segmentIndex ? 'selected-segment' : '')"
             (click)="selectSegment(segmentIndex)">
          <div [ngClass]="'left-margin ' + (segment.noteToggles[0] ? 'on' : 'off')"></div>
          <div *ngFor="let noteOfSegment of segment.noteToggles; let i = index"
               [ngClass]="'note-of-segment ' + (noteOfSegment ? 'on' : 'off') + ' '+
                  (notes[i].key.slice(-1) === '#' ? 'w-black' : 'w-'+notes[i].key) + (i !== notes.length-1 ? ' br' : '')">
            <!--{{notes[i].key}}-->
          </div>
          <div
              [ngClass]="'right-margin br ' + (segment.noteToggles[segment.noteToggles.length-1] ? 'on' : 'off')"></div>
        </div>
      </div>
    </div>

    <div class="keyboard" id="keyboard" (scroll)="handleKeyboardScroll($event)">
      <div class="top-keys">
        <div class="white-key left-margin" (click)="playNote(notes[0])"></div>
        <div *ngFor="let note of notes" col-1
             [ngClass]="(note.key.slice(-1) === '#') ? 'black-top-key' : 'white-top-key-'+note.key"
             (click)="playNote(note)">
          <!--<div class="absolute">{{note.key + note.octave}}</div>-->
        </div>
        <div class="white-key right-margin br" (click)="playNote(notes[notes.length-1])"></div>
      </div>

      <div class="bottom-keys">
        <div class="bottom-key" *ngFor="let whiteBottomKey of whiteBottomKeys"
             (click)="playNote(whiteBottomKey)">
          <div class="absolute gray">{{whiteBottomKey.key + whiteBottomKey.octave}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
