$zoom: 1.5px;
$note-segment-height: 64px;

.screen {
  height: 100%;
  flex: 0 0 100%;
  flex-direction: column;
  display: flex;
  background-color: var(--off-white-bg-color);
  bottom: 0;
  transform: translate3d(0, 0, 0);
}

.book {
  flex: 0 0 80%;
  flex-direction: column;
  display: flex;
}

.sheet {
  flex: 0 0 100%;
  flex-direction: row;
  display: flex;
  overflow: auto;
  //-webkit-overflow-scrolling: touch;
}

.note-segment {
  //height: $note-segment-height;
  //flex: 0 0 $note-segment-height;
  //flex-direction: column;
  //display: block;
  //overflow:auto;
}

.note-of-segment {
  border-top: 1px solid darkgray;
}

.keyboard {
  flex: 0 0 20%;
  flex-direction: column;
  display: flex;
  overflow-x: auto;
  //-webkit-overflow-scrolling: touch;
}

.top-keys {
  flex: 0 0 60%;
  flex-direction: row;
  display: flex;
}

.bottom-keys {
  flex: 0 0 40%;
  flex-direction: row;
  display: flex;
}

@mixin white-key {
  background-color: #fff;
}

@mixin br {
  border-right: 1px solid gray;
}

.bottom-key {
  @include white-key;
  @include br;
  flex: 0 0 (24 * $zoom);
  width: 24 * $zoom;
}

@mixin C_E {
  flex: 0 0 (15 * $zoom);
  width: 15 * $zoom;
}

@mixin D_G_A {
  flex: 0 0 (14 * $zoom);
  width: 14 * $zoom;
}

@mixin F_B {
  flex: 0 0 (13 * $zoom);
  width: 13 * $zoom;
}

@mixin w-black {
  flex: 0 0 (14 * $zoom);
  width: 14 * $zoom;
}

.left-margin {
  flex: 0 0 (7 * $zoom);
  width: 7 * $zoom;
}

.right-margin {
  flex: 0 0 (9 * $zoom);
  width: 9 * $zoom;
}

.on {
  background-color: orange;
}

.on.w-black {
  background-color: darkorange;
}

.note-segment {
  background-color: var(--off-white-bg-color);
}

.note-segment.w-black {
  background-color: var(--off-black-bg-color);
}

.off-piano {
  background-color: var(--off-piano-white-bg-color);
}

.off-piano.w-black {
  background-color: var(--off-piano-black-bg-color);
  border-right: 0;
}

.white-key {
  @include white-key;
}

.br {
  @include br;
}

.w-C {
  @include C_E;
}

.w-E {
  @include C_E;
}

.w-D {
  @include D_G_A;
}

.w-G {
  @include D_G_A;
}

.w-A {
  @include D_G_A;
}

.w-F {
  @include F_B;
}

.w-B {
  @include F_B;
}

.w-black {
  @include w-black;
}

.black-top-key {
  @include w-black;
  background-color: #444;
}

.white-top-key-C {
  @include white-key;
  @include C_E;
}

.white-top-key-E {
  @include white-key;
  @include C_E;
  @include br;
}

.white-top-key-D {
  @include white-key;
  @include D_G_A;
}

.white-top-key-G {
  @include white-key;
  @include D_G_A;
}

.white-top-key-A {
  @include white-key;
  @include D_G_A;
}

.white-top-key-F {
  @include white-key;
  @include F_B;
}

.white-top-key-B {
  @include white-key;
  @include F_B;
  @include br;
}

